/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #00519b;
}
body,section {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    /*display: table-cell;*/
    padding-top: 40px;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

/*Craz style for pervobank*/
/*+++++++first frame+++++++*/
.frames{
    display: none;
}
#frame_1{
    display: block;
}
#frame_1 .btn{
    width:270px;
    height: 130px;
    font-size: 80px;   
}
#frame_2 .btn, #frame_3 .btn{
    width:270px;
    height: 50px;
    font-size: 25px;
}
#frame_3 .btn{
    width:270px;
    height: 45px;
    font-size: 20px;
}
#frame_4 p.lead{
    text-align: left;
}
#frame_4 #num{
    color:#00519b;
}
#frame_4 h1{
    text-align: left;
    color:#16e053;
    font-size: 25px;
}
.ui-keyboard{
    background: #28a4c9;
    color:#31708f;
    border:#333 solid 1px;
}
.ui-keyboard-preview-wrapper, .ui-keyboard-preview, ui-keyboard-button{
    opacity: 1;
}
input#num{
    width:290px;
}
.ui-keyboard-accept{
    min-width: 2em;
}
#frame_4 p.lead{
    font-size: 15px;
}
#frame_4 select#selectTime{
    color:#00519b;
    width: 290px;
    height: 24px;
    margin-top: 10px;
}
#frame_4 label{
    background: linear-gradient(to left, #7fc3ff, #00519b);
    width:350px;
    cursor: pointer;
    border-bottom: 1px solid #333;
    border-left: 1px xolid #333;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    
}
#strahovkaImushestva{
    display: none;
}
div#itog{
    position:absolute;
    top:70px;
    left:50%; 
    margin-left:50px;    
}
.panel-body{
    color: #00519b;
    text-align: left;
}
span#i_itog{
    color:red;
}
/*section{
    width:100%;
    height: 100%;
    display: none;
    border:1px solid #999;
}

section#initialScreen{
    background-color: #28a4c9;
    display: block;
}
section#initialScreen article div#logo{
    background: url("../img/logo.png") no-repeat;
    width: 255px;
    height: 57px;   
    top:50%;
    position:absolute;
    margin-top:-28px;
    left:50%;
    margin-left: -127px;
}
section#firstFrame{
    background: #28a4c9;
}
section#firstFrame article{
    position: relative;
    top:50%;
    margin-top: -47px;
}
section#individualFrame article{
    position: relative;
    top:50%;
    margin-top: -134px;
}
section#individualFrame article .menuPr{
    margin-bottom: 10px;
}
.noMargin{
    margin: 0;
}
section#loanForAnyPurpose{
    text-align: left;
}
section#loanForAnyPurpose article{
    position:relative;
    width:500px;
    left:50%;
    margin-left: -250px;
}
#strahCheck, #labelStrah{
    display: none;
}
.numberScreen{
    position: absolute;
    left:20px;
    top:20px;
    font-size: 32px;
    color:white;
}
#formForLeon{
    margin-top:50px;
}
#selectTime{
    color:#333;
}
.ui-keyboard{
    background: #28a4c9;
    color:#31708f;
    border:#333 solid 1px;
}
.ui-keyboard-preview-wrapper, .ui-keyboard-preview, ui-keyboard-button{
    opacity: 1;
}
input#num{
    width:290px;
}*/